@font-face {
    font-family: 'Jersey 15';
    src: url('/fonts/Jersey_15/Jersey15-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Jersey 15', sans-serif;
}

