.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 30px;
  }
  
  .logo {
    height: 150px;

  }
  
  .nav {
    display: flex;
    gap: 80px;
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 10px 50px;
    width: 400px;
    height: 35px;
  }
  
  .navItem {
    padding-top: 10px;
    font-size: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navItem:hover {
    color: #32CD32;
  }
  
  .applyButton {
    background-color: black;
    color: #32CD32;
    margin-right: 80px;
    font-size: 30px;
    border-radius: 30px;
    height: 100px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .applyButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .applyButton:active {
    transform: scale(0.95);
  }
  