.header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 70px;
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 150px;
}

.nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  gap: 50px;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding: 1rem 2rem;
  justify-content: center;
  width: 500px;
}

.navItem {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #21DA5F;
}

.container {
  min-width: 320px;
  box-sizing: border-box;
}

.applyButtonContainer {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 3rem;
}

.applyButton {
  float: right;
  font-family: 'Jersey 15', sans-serif;
  background-color: black;
  color: #21DA5F;
  font-size: 2rem;
  border-radius: 30px;
  height: 70px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.applyButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.applyButton:active {
  transform: scale(0.95);
}

/* Menu icon */
.menuIcon {
  display: none; /* Hidden on large screens */
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 0; /* Make sure it stays behind the menu */
  display: none;
}

.overlayVisible {
  display: block; /* Show the overlay when the menu is visible */
  z-index: 10000;
}

.logoNoBG{
  display: none;
}

@media (max-width:1300px) {
  .logo {
    transition: all 0s;
    transform: scale(0.7);
    left: -20px;
  }
}

@media (max-width:1300px) {
  .logo {
    transition: all 0s;
    transform: scale(0.6);
    left: -40px;
  }

  .nav {
    max-width: fit-content;
  }
}

@media (max-width: 1024px) {

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    margin: none;
    top: 80px;
    right: -780px;
    background-color: #D9D9D9;
    gap: 20px;
    border-radius: 30px;
    padding: 1rem;
    width: 10rem;
    z-index: 777777; /* Ensure the nav is on top of the overlay */
  }

  .navVisible {
    display: flex;
  }

  .menuIcon {
    display: block;
  }

  .applyButtonContainer {
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 30%;
    height: 50px;
    align-items: center;
    padding-right: 0;
  }

  .applyButton {
    width: 100%;
    max-height: 100%;
  }

  .logo {
    top: -10px;
  }

  .menuIcon {
    position: absolute;
    right: 40px;
    top: 50px;
  }
}

@media (max-width: 975px) {
  .nav {
    left: calc(100% - 1000px);
    top: 80px;
  }
}

@media (max-width: 800px) {
  .nav {
    left: calc(100% - 970px);
  }
}

@media (max-width: 620px) {
  .logo {
    display: none;
  }

  .logoNoBG {
    display: block;
    width: 160px;
    top: -15px;
    left: -20px;
    transition: all 0s;
    transform: scale(0.5);
  }
}

@media (max-width: 620px) {
  .applyButtonContainer {
    width: 35%;
  }

  .logoNoBG {
    left: -30px;
  }

  .menuIcon {
    right: 20px;
  }
}

@media (max-width: 800px) {
  .nav {
    left: calc(100% - 970px);
    top: 90px;
  }
}

@media (max-width: 440px) {
  .applyButton {
    font-size: 1.7rem;
  }

  .applyButtonContainer {
    height: 40px;
  }
}