.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  /* margin-top: 70px; */
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px; /* Adjust as needed */
  height: auto;
}

.description {
  margin: 0;
  font-size: 2rem;
  text-align: left;
  line-height: 1.5;
  box-sizing: border-box;
  max-width: 400px;

}

.aboutSection {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    
}

.aboutTitle {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    width: min(900px, 100%);
}

.highlight {
    color: #21DA5F;
}

.aboutText {
    margin: 0;
    margin-right: 20px;
    max-width: min(700px, 90%);
    font-size: 1.5rem;
    text-align: justify;
}

.videoWrapper {
  align-items: center;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.videoPlaceholder {

    max-width: min(700px, 90%);
    /* max-height: 300px; */
    min-width: min(700px, 90%);
    /* min-height: 300px; */
    background-color: lightgray;
    border-radius: 10px;
}


.faqSection {

    width: 100%;
    max-width: 800px;
  }
  
  .faqTitle {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .accordionItem {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accordionItem:hover {
    background-color: #444;
  }
  
  .question {
    font-size: 1.2rem;
    width: min(750px, calc(100% - 10px));
    display: flex;
    justify-content: space-between;
  }
  
  .answer {
    margin-top: 10px;
    color: #21DA5F;
  }

  .arrow {
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
  }
  
  .arrowActive {
    transform: rotate(180deg); /* Rotates the arrow when active */
  }

@media (max-width: 1100px) {
  .aboutSection {
    padding: 0 15px;
  }
}

@media (max-width: 1100px) {
  .aboutSection {
    padding: 0 60px;
    
  }

  .text {
    flex-direction: column;
    align-items: center;
  }

  .aboutText {
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media (max-width: 880px) {
  .logo {
    width: 400px;
  }
  .aboutTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 760px) {
  .logoSection {
    padding-right: 30px;
  }

  .logoWrapper {
    min-width: calc(55%);
  }

  .logo {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .logoSection {
    padding-right: 20px;
    padding-top: 30px;
  }

  .description {
    font-size: 1.4rem;
  }

  .aboutSection {
    padding: 0 10px;
  }

  .aboutTitle {
    font-size: 2.6rem;
  }

  .faqTitle {
    font-size: 2.6rem;
  }

  .aboutText {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 512px) {
  .aboutSection {
    padding: 0 10px;
  }

  .text {
    padding: 0;
  }
  
}

@media (max-width: 440px) {
  .logoSection {
    padding-top: 55px;
  }

  .text {
    padding: 0;
  }

  .videoPlaceholder {
    max-width: 300px;
    max-height: 225px;
    min-width: 300px;
    min-height: 225px;
  }

  .aboutTitle {
    font-size: 2.2rem;
  }

  .aboutSection {
    padding: 0 15px;
  }

  .faqTitle {
    margin-top: 0;
    font-size: 2.2rem;
  }

  .aboutText {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 410px) {
  .logoSection {
    padding-top: 0;
  }
  
  .aboutText {
    line-height: 1.3rem;
  }
}