.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between image and text */
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px; /* Adjust as needed */
  height: auto;
}

.description {

  font-size: 2rem;
  text-align: left;
  line-height: 1.5;
  max-width: 400px;

}

.aboutSection {
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.aboutTitle {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.text{
    display: flex;
    text-align: center;
}

.highlight {
    color: #21DA5F;
}

.aboutText {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 500px;
    font-size: 1.5rem;
    text-align: justify;
}

.videoPlaceholder {
    width: 400px;
    height: 300px;
    background-color: lightgray;
    border-radius: 10px;
}


.faqSection {
    width: 100%;
    max-width: 800px;
  }
  
  .faqTitle {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .accordionItem {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accordionItem:hover {
    background-color: #444;
  }
  
  .question {
    font-size: 1.2rem;
    width: 750px;
  }
  
  .answer {
    margin-top: 10px;
    color: #21DA5F;
  }

  .arrow {
    margin-left: 650px;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
  }
  
  .arrowActive {
    transform: rotate(180deg); /* Rotates the arrow when active */
  }