.body {
    position: relative;
}

.questionsContainer {
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.chatWrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 800px;
    background-color: white;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logoWrapper {
    position: absolute;
    left: -80px;
    top: -50px;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    /* background-color: blue; */
}

.logoWrapper1 {
    position: absolute;
    left: -107px;
    top: -50px;
    z-index: 1001;
    width: 350px;
    height: 350px;
    /* background-color: rgba(255, 0, 0, 0.3); */
}

.logoWrapper1:before {
    transition: all 1s ease;
}

.animationBlock {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    z-index: 1002;
    top: 25px;
    right: 44px;
    border-radius: 14px;
    transition: all 1s ease;
    background-color: #000;  
}

.animationEye {
    position: absolute;
    min-width: 53px;
    min-height: 53px;
    z-index: 1003;
    border-radius: 8px;
    background-color: #21DA5F;
    transition: all 0.4s ease;
}

.secondaryEye {
    transition-delay: 1s;
}

.leftEye {
    top: 127px;
    right: 108px;
}

.rightEye {
    top: 127px;
    right: 203px;
}

.animationBase {
    position: absolute;
    top: 68px;
    left: 71px;
    min-width: 194px;
    min-height: 190px;
    z-index: 999;
    border-radius: 50px;
    background-color: #000;
}

.animationBlink {
    transform: scale(1,0);
}

.rotateAnimation360 {
    transform: rotate(360deg);
}

.rotateAnimation360Back {
    transform: rotate(-360deg);
}

.logo {
    width: 325px;
    height: 300px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 550px;
    height: 620px;
    background-color: #ffffff;
    border-radius: 35px;
    padding-top: 30px;
    border-style: solid;
    border-color: #21DA5F;
    box-shadow: 0px 0px 10px #18a045;
    
    
}

.outputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    width: calc(100% - 80px);     
    height: calc(100% - 135px); 
    border-radius: 30px;
    position: relative;
    padding: 40px 40px 15px;
    /* padding-right: 30px;
    padding-top: 40px; */
    overflow-y: scroll;
    scrollbar-width: thin;
}

.message {
    width: fit-content;
    min-height: 20px; 
    min-height: fit-content;
    max-width: calc(100% - 50px);
    padding: 20px 15px;
    font-size: 1.4rem;
    line-height: 1.5rem;
    border-radius: 25px;
    overflow-x: hidden;
    flex-shrink: 0;  
    margin: 0;
    
}

.botMessage {
    flex-direction: column;
    align-self: flex-start;
    border-top-left-radius: 0;
    background: #ececec;
    /* border: 1px solid #b0b0b0; */
}

.userMessage {
    flex-direction: column;
    align-self: flex-end;
    border-top-right-radius: 0;
    background: #21DA5F;
    /* border: 1px solid #18a045; */
    
}

.outputText {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Jersey 15';
    margin: 0;
    margin-bottom: 15px;
}

.outputUnsatisfied {
    margin: 0;
}

.outputDM {
    font-size: 1.2rem;
    color: #21DA5F;
    cursor: default;
    transition: all 0.2s ease;
}

.outputDM:hover {
    color: #18a045;
}

.inputContainer {
    position: relative;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 20px);
    height: 60px;
    padding: 5px;   
    background-color: #eaeaea;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chatInputContainer {
    width: calc(100% - 10px);
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
    border-color: #b0b0b0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 4px 20px;
    padding-right: 3px;
}   

.sendButton {
    display: none;
    background-color: #ececec;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0,2s ease;
}

.sendButton:hover {
    cursor:pointer;
    background-color: #21DA5F;
}

.sendButton:active {
    background-color: #18a045;
}

.chatInput:valid~.sendButton{
    display: block;
}

.chatInput {
    width: 100%;
    height: 100%;
    border-width: 0;
    font-size: 1.5rem;
    font-family: 'Jersey 15';
    border-radius: 25px;
}

.chatInput:focus {
    outline:#ffffff;
}

.chatInput::placeholder {
    color: #cfcfcf;
}

.subTextGreeting {
    font-size: 1rem;
}

.directMessage {
    font-size: 1.15rem;
    color: #21DA5F;
    transition: all 0.2s ease;
    cursor: default;
}

.directMessage:hover {
    color: #18a045;
    font-size: 1.2rem;
    cursor: pointer;
}

.popupDMBG {
    position: absolute;
    top: -200px;
    left: -25px;
    z-index: 9000;
    width: calc(100% + 30px);
    height: calc(100% + 300px);
    background-color:rgba(176, 176, 176, 0.5);
}

.popupDM {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    min-height: 400px;
    min-width: 600px;
    background-color: #eaeaea;
    bottom: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 40px;
    border: 1px solid #b0b0b0;
    box-shadow: 0px 0px 50px #4f4f4f;
    padding-bottom: 20px;
    flex-grow: 0;
    align-items: center;
}

.popupNone {
    display: none;
}

.popupBlock {
    display: flex;
}

.popupCloseButton {
    z-index: 11000;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.popupCloseButton:hover {
    background-color: #dedede;
}

.popupCloseButton:active {
    background-color: #cfcfcf;
}

.popupCloseIcon {
    height: 50px;
    width: 50px;
}

.DMLineInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 0 40px 0 20px;
}

.DMTextInput {
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 0 20px 0 40px;
    min-height: 100%;
}


.DMInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px 0;
}

.formButton {
    float: right;
    font-family: 'Jersey 15', sans-serif;
    background-color: black;
    color: #21DA5F;
    font-size: 2rem;
    border-radius: 30px;
    height: 70px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.formButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formButton:active {
    transform: scale(0.95);
}

.fieldTitle {
    margin:0;
    font-size: 1.2rem;
}

.inputField {
    font-family: monospace;
    width: 160px;
    padding: 10px;
    border-color: #cfcfcf;
    border-style: solid;
    border-radius: 10px;
}

.inputField::placeholder {
    color: #cfcfcf;
}

.textInputField {
    padding: 10px;
    border-color: #cfcfcf;
    border-style: solid;
    border-radius: 10px;
    width: 160px;
    height: calc(100% - 48px);
    resize: none;
}

.textInputField::placeholder {
    color: #cfcfcf;
}

.inputField:focus {
    border-color: #18a045;
    outline: none;
}

.textInputField:focus{
    border-color: #18a045;
    outline: none;
}

.errorContainer {
    padding-top: 30px;
}

.errorText {
    margin: 0;
    color:#a70000;
}